/* Mainly for Home Page */
table, th, td {
    border: 1px solid black;
}

td, th {
    width: 1cm;
    height: 1cm;
    text-align: center;
    font-weight: bold;
    background-color: grey;
}

td > a {
    color: black;
    display: block;
    width: 100%;
    height: 100%;
}

.seat-free {
    background-color: green;
}

.seat-taken {
    background-color: red;
}

div > p {
    display: inline-block;
}
